get group members.txt
{"id":"5d7ff670-a90a-4c0e-b54b-7df58f52b068","brandColor":"#8C3900","connectionReferences":{"shared_office365":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/aff4282c436141b8986230f1ec2ee88e"}},"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/shared-office365grou-06df8510-a851-41c3-8c6b-c474f61d4284"}},"shared_azuread":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_azuread/connections/shared-azuread-341058d6-303c-463a-87f9-94753e5df039"}},"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/3d0e5520077442b4b3fe6716a47cc32e"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"SharePoint_Group_Members","operationDefinition":{"type":"Scope","actions":{"Get_SharePoint_Group_Members":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://32kfnw.sharepoint.com/sites/Listautomate","parameters/method":"GET","parameters/uri":"_api/web/sitegroups(22)/users"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{}},"SP_Group_Member_Emails":{"type":"Compose","inputs":"@join(body('Select_Member_Emails'), ';')","runAfter":{"Select_Member_Emails":["Succeeded"]}},"Select_Member_Emails":{"type":"Select","inputs":{"from":"@body('Get_SharePoint_Group_Members')?['body']?['d']?['results']","select":"@item()?['Email']"},"runAfter":{"Get_SharePoint_Group_Members":["Succeeded"]}},"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('SP_Group_Member_Emails')","emailMessage/Subject":"test","emailMessage/Body":"<p>jdjdjdj</p>","emailMessage/Importance":"Normal"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"SP_Group_Member_Emails":["Succeeded"]}}},"runAfter":{}}}